<div id="foodMenu" class="container-fluid" >
    <h1 class="text-center wow fadeIn" data-wow-delay="0.9s">Menu</h1>
    <div class="row">
        <div class="col-sm-6 "  >
            <div class="text-center wow fadeIn" data-wow-delay="1.0s" >
                <%= link_to menus_lunch_index_path do %>
                  <%= image_tag "/assets/lunch.logo.png", id: "lunch-logo" %>
                <% end %>
            </div> 
        </div>
        <div class="col-sm-6" >
            <div class="text-center wow fadeIn" data-wow-delay="1.0s" > 
                 <%= link_to menus_dinner_index_path do %>
                  <%= image_tag "/assets/dinner.logo.png", id: "dinner-logo" %>
                <% end %>
            </div>  
        </div>
    </div>
</div>
<h1><%= controller.controller_name %></h1>