<section class="container-fluid" id="slogan">
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <%#= video_tag(
              ['pizza_brighter.webm', 'pizza_brighter.m4v','pizza_brighter.ogg'],
              id: 'vid', 
              autoplay: true,
              loop: true,
              muted: false,
              poster: 'poster2.webp'
            )
          %>
          <!--<video  id='vid' autoplay muted poster= "poster.webp">-->
          <!--  <source src="/assets/pizza_brighter.webm#t=1,8" type='video/webm;codecs="vp8, vorbis"'>-->
          <!--  <source src="/assets/pizza_brighter.mp4#t=1,8"  type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />-->
          <!--  <source src="/assets/pizza_brighter.m4v#t=1,8">-->
          <!--</video>-->
          <!--if u bring back id div has the same style as a below image-->
          <%= image_tag '/assets/1.jpg', style: 'object-fit: cover;width:100%; height:100vh'%>
          <div class="overlay-desc">
            <h3>
              <%= image_tag('/assets/slicePizza.png', size:"40x60", style:'width:40px; height:60px;') %> OR NOT 
              <%= image_tag('/assets/slicePizza.png', size:"40x60", style:'width:40px; height:60px;') %> , THAT IS THE QUESTION?
            </h3>            
            <span style="color:red;font-size:20px;">
               <div>1 LARGE PIZZA</div>
               <div>UP TO 3 TOPPINGS - PICK-UP ONLY</div>
               <div style='font-size: 18px'>
               <%= number_to_currency 9.95%> + tax
               mention coupon when ordering  <span style="color:green;font-size:25px"> 1 PIZZA ONLY</span>
               </div>            
            </span>
            <!--got rid of bootsrap/buttons temporarly -->
            <%= link_to "tel:3106596171" do %>
              <%= content_tag :button, 'Call Now' , class: 'btn-danger'%>
            <%end%> 
          </div>
    </div> 
  </div>
</section>
