<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true , :cache => true, :async => true %>
  <%#= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=#{ENV.fetch("GOOGLE_API_KEY")}' , :async => true %>

   <!--<script async defer-->
   <!--   src="https://maps.googleapis.com/maps/api/js?key=#{ENV.fetch("GOOGLE_API_KEY")}&v=3.22&sensor=false">-->
   <!-- </script>-->
    
    <script
    src="https://maps.googleapis.com/maps/api/js?key="<%="#{ENV['google_api_key']}"%>"&v=3.22">
    </script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body data-spy="scroll" data-target=".icon-list" data-offset="450">
  
  <%= render 'shared/menu'  %>
  <%= render template: '/welcome/slogan'    if controller.controller_name=='welcome'%>
  <%= render template: '/welcome/about'     if controller.controller_name=='welcome'%>
  <%= render 'shared/food'                  if controller.controller_name=='welcome' %>
  <%= render template: 'menus/lunch/index'  if controller.controller_name == 'lunch'%>
  <%= render template: 'menus/dinner/index' if controller.controller_name == 'dinner'%>
  <%= render 'shared/contact' %>

  
</body>
</html>
