<!DOCTYPE html>
<html>
<head>
  
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application' ,'data-turbolinks-track' => true%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :cache => true ,:defer=> "defer",:recursive => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB_bhcuJbmnYHQViWNhZopT9QHxWcUjpT0', :cache => true , :defer=> "defer" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  
</head>
<body data-spy="scroll" data-target=".icon-list" data-offset="450">
  <%= render 'shared/menu'  %>
  <div class="col-md-12" style="height:9vh;color:red;"></div>
  <%= render template: '/welcome/slogan'    if controller.controller_name == 'welcome'%>
  <%= render template: '/welcome/about'     if controller.controller_name =='welcome'%>
  <%= render template: '/menus/index'       if controller.controller_name == 'welcome' || controller.controller_name == 'menus'%>
  <%= render template: 'menus/lunch/index'  if controller.controller_name == 'lunch'%>
  <%= render template: 'menus/dinner/index' if controller.controller_name == 'dinner'%>
  <%= render 'shared/contact' %>
  <script>
    // new WOW().init();
  </script>
  
</body>
</html>
